@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    margin: 0;
    color: #E8DFC8;
    background-color: #3F4A12;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3F4A12;
    padding: 0 30vh;
    height: 50px;
}

.header__logo {
    font-weight: bold;
    font-size: 32px;
    font-style: italic;
}

.header__links ul {
    list-style: none;
    display: flex;
    font-weight: 500;
    font-size: 18px;
    gap: 24px;
}
.header__links a {
    color: inherit;
    text-decoration: none;
}

/* Hero */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    padding: 0 30vh;
    height: 450px;
    background-color: #3F4A12;
}

.hero__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    width: 40%;
    height: 300px;
}
.hero__main {
    font-size: 52px;
    font-weight: bold;
    font-style: italic;
}
.hero__secondary {
    font-size: 18px;
    color: #D8CFB8;
}
.hero__button {
    font-weight: bold;
    font-size: large;
    border-radius: 8px;
    border: 3px solid #B9653E;
    padding: 8px 32px;
}

.hero__right {
    width: 60%;
    height: 300px;
}
.hero__image {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}

/* Information */

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    padding: 48px 25vh;
    background-color: #30390E;
}

.information__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    padding: 0 10vh;
}
.information__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 300px;
}
.information__item--image {
    border: 2px solid;
    border-radius: 16px;
    height: 180px;
}
.information__item--text {
    color: #D8CFB8;
    text-align: center;
    font-size: 18px;
}

.information__main {
    font-size: 40px;
    font-weight: bold;
}

/* Quote */

.quote {
    background-color: #6A7442;
    padding: 100px 35vh;
}

.quote__text {
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    margin-bottom: 16px;
}
.quote__author {
    color: #D8CFB8;
    font-size: 20px;
    font-weight: 300;
    text-align: right;
}

/* CTA */

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 10vh;
    margin: 96px 30vh;
    background-color: #6A7442;
    border-radius: 12px;
}

.cta__main {
    font-size: 28px;
    font-weight: bold;
}
.cta__secondary {
    font-size: 18px;
    font-weight: 300;
}

.cta__button {
    border: 3px solid #B9653E;
    font-weight: bold;
    font-size: large;
    border-radius: 8px;
    padding: 8px 32px;
}

/* Footer */

.footer {
    height: 100px;
    background-color: #3F4A12;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Some adjustments */

button {
    background-color: #B9653E;
    color: #E8DFC8;
    border: 0 #B9653E;
}

.header__logo,
.hero__main,
.information__main,
.quote__text,
.cta__main {
    font-family: 'Cormorant Garamond', serif;
}